.todo-container {
  width: 90%;
  max-width: 600px;
  height: 600px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 2rem auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.todo-container h2 {
  margin: 0 0 20px;
  font-size: 1.8rem;
  color: #333;
  text-align: center;
}

.logout-btn {
  background: transparent;
  color: #667eea;
  font-size: 1rem;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 8px 12px;
  transition: background-color 0.3s, color 0.3s;
}

.logout-btn:hover {
  background-color: #ff7a7a;
  color: #fff;
}

.task-input textarea {
  flex: 1;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  height: 100px;
  width: 100%;
  overflow-y: auto;
  resize: none;
  transition: border-color 0.3s ease;
}

.task-input textarea:focus {
  border-color: #667eea;
  outline: none;
}

textarea::-webkit-scrollbar {
  display: none;
}

/* .task-input input {
  flex: 1;
  padding: 12px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
} */

/* .task-input input:focus {
  border-color: #667eea;
  outline: none;
} */

.task-input button {
  background-color: #667eea;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 74%;
  margin-bottom: 40px;
  padding: 7px 19px 7px 17px;
}

.task-input button:hover {
  background-color: #556cd6;
}

.filters {
  text-align: center;
  margin-bottom: 20px;
}

.filters button {
  background-color: transparent;
  border: 1px solid #667eea;
  color: #667eea;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.filters button:hover,
.filters button.active {
  background-color: #667eea;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #f0f0f0;
  transition: background-color 0.3s;
}

.task-item:hover {
  background-color: #f9f9f9;
}

.task-description {
  flex: 1;
  font-size: 1rem;
  color: #333;
  margin-right: 10px;
  cursor: pointer;
}

.task-description.completed {
  text-decoration: line-through;
  color: #888;
}

.task-item button {
  background: transparent;
  border: none;
  color: #667eea;
  font-size: 0.9rem;
  margin-left: 5px;
  cursor: pointer;
  transition: color 0.3s ease;
}

/* .task-item button:hover {
  color: #556cd6;
} */

/* Estilos do Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.modal h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #333;
}

.modal input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 20px;
  transition: border-color 0.3s;
}

.modal input:focus {
  border-color: #667eea;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.modal-buttons button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.modal-buttons button:first-child {
  background-color: #667eea;
  color: #fff;
}

.modal-buttons button:first-child:hover {
  background-color: #556cd6;
}

.modal-buttons button:last-child {
  background-color: #ddd;
  color: #333;
}

.modal-buttons button:last-child:hover {
  background-color: #ccc;
}

.task-item button {
  background: transparent;
  border: none;
  font-size: 0.9rem;
  margin-left: 5px;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 4px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.btn-delete {
  color: #667eea;
}

.btn-delete:hover {
  background-color: #e74c3c;
  color: #fff;
  transform: scale(1.05);
}

.btn-complete {
  color: #667eea;
}

.btn-complete:hover {
  background-color: #27ae60;
  color: #fff;
  transform: scale(1.05);
}

.btn-edit {
  color: #667eea;
}

.btn-edit:hover {
  background-color: #f1c40f;
  /* amarelo */
  color: #fff;
  transform: scale(1.05);
}

.btn-reopen {
  color: #667eea;
}

.btn-reopen:hover {
  background-color: #9b59b6;
  color: #fff;
  transform: scale(1.05);
}